{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page landing-page">
  {% include '@odisean/templates/page/header.html.twig' %}

{# /*capçalera amb títol*/ #}
  <main class="pt-0 pb-5">

 {% if page.precontent %}
        {{ page.precontent }}
     {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>
  {% include '@odisean/templates/page/footer.html.twig' %}

</div>




