{#
/**
 * @file
 * Default template for a field.
 */
#}



<div class="col-lg-4 col-4" data-aos="fade-right">
	<div class="">
	 {{ items[0].content }}
	</div>
</div>
<div class="col-lg-4 col-4 bg-secondary bg-inverter" data-aos="fade-up">
	<div class="mig">
	 {{ items[1].content }}
	</div>
</div>
 <div class="col-lg-4 col-4" data-aos="fade-left" >
    <div class="">
	 {{ items[2].content }}
	</div>
</div>