{#
/**
 * @file
 * Default template for a field.
 */
#}
{%
  set classes = [
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
  label_display == 'inline' ? 'd-flex',
]
%}
{%
  set title_classes = [
  'field__label',
  'font-weight-bold',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}



<div class="row m-t-40">
     <div class="col-md-4 wrap-feature2-box">
{#        <div class="card card-shadow" data-aos="fade-left" data-aos-delay="0" data-aos-duration="1200">#}
        <div class="card card-shadow">
          {{ items[0].content }}
        </div>
     </div>
     <div class="col-md-4 wrap-feature2-box">
{#        <div class="card card-shadow" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1200">#}
        <div class="card card-shadow" >
          {{ items[1].content }}
        </div>
     </div>
     <div class="col-md-4 wrap-feature2-box">
{#        <div class="card card-shadow" data-aos="fade-right" data-aos-delay="0" data-aos-duration="1200" >#}
        <div class="card card-shadow" >
          {{ items[2].content }}
        </div>
     </div>
</div>
