.image-square {
    height: 50vw;
    max-height: 640px;
    overflow: hidden;
    padding: 0;
}

@media (min-width: 992px){
	.image-square {
	    height: 35vw;
	    max-height: 640px;
	    overflow: hidden;
	    padding: 0;
	}

}