.bg-orange {
    background: #e26818;
}
.bg-dark {
    background: #222;
}
.bg-orange, .bg-dark {
    margin: 0 -8px;
    position: relative;
    transition: all 200ms ease-in;
    box-shadow: 0 0 0 0;
}
.bg-dark, .bg-orange a {
    color: #fff;
}
.bg-dark i, .bg-orange i {
    transition: all 250ms ease-in;
    font-size: 50px;
    color: #fff;
}
.bg-orange h4 {
    color: #fff;
    text-transform:uppercase;
}
.linkblock {
    display: block;
    padding: 4vw;
    min-height: 25vw;
}
h4 small {
    text-transform: none;
    color: #fff;
    opacity: 0.5;
    font-size: 68%;
    font-style: italic;
    display: block;
    margin-top: 5px;
}
.bg-orange:hover, .bg-dark:hover {
    transform: translateY(-2px);
    margin: 0 -15px;
    box-shadow: 0 10px 10px -5px #0000008f;
    padding: 0 7px;
}