{#
/**
 * @file
 * Template for the page title.
 */
#}
{{ title_prefix }}
{% if title %}
 <div class=" p-t-50">
  <h1{{ title_attributes.addClass('display-5') }}>{{ title }}</h1>
</div>
{% endif %}
{{ title_suffix }}
